body{
    background-color: #E6E8D4;
    font-family: poppins;

}
img{
    width: auto;
    height: 200px;
    padding: 20px;
}

h1{
    font-weight: bold;
    padding: 10px;
}

li{
    list-style-type: square;
}

